html {
    color: #050D4A;
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: grid;
    grid-template-areas: "h h " "m a" "f f";
}

header {
    grid-area: h;
}

main {
    grid-area: m;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

aside {
    grid-area: a;
    display: flex;
    flex-direction: column;
    justify-self: flex-end;
    align-content: center;
    width: max-content;
    background-color: #EBEBF3;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid #CBC5DB;
    text-align: center;
    height: max-content;
    padding-bottom: 5px;
}

header h1 {
    font-size: 4em;
    font-weight: normal;
    text-align: center;
    margin: 10px;
}

header h1>span {
    color: red;
    font-weight: 900;
    font-size: 110%;
}

footer {
    display: flex;
    justify-content: space-between;
    font-size: 1.5em;
    grid-area: f;
    margin: 30px 10px 10px 10px;
}

main .recipe {
    width: 32%;
    height: max-content;
    background-color: #EBEBF3;
    margin: 5px;
    font-size: 2em;
    border-radius: 5px;
    border: 1px solid #CBC5DB;
}

main .recipe:hover {
    transform: scale(1.03);
    box-shadow: 0 0 10px #B6B1C4;
}

.top {
    width: 100%;
    display: flex;
}

.top>img {
    width: 50%;
    margin: 10px 0 10px 10px;
}

.cakeName {
    padding: 0 10px 0 10px;
    margin: 10px 0 0 10px;
}

.ccal {
    padding: 10px 10px 10px 10px;
    margin: 0;
    border-top: 1px solid #CBC5DB;
    width: 100%;
    box-sizing: border-box;
}

#cCal {
    -webkit-appearance: none;
    width: 150px;
    height: 3px;
    background: #B6B1C4;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin: 20px;
}

#cCal:hover {
    opacity: 1;
}

#cCal::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 10px;
    background: #050D4A;
    cursor: pointer;
    border-radius: 50%;
}

#cCal::-moz-range-thumb {
    width: 15px;
    height: 15px;
    background: #050D4A;
    cursor: pointer;
}

#labelCal {
    font-size: 2em;
    margin: 20px 0;
}

[name="filter"] {
    display: none;
}

.labelFilter {
    background-color: #CBC5DB;
    font-size: 2em;
    padding: 5px;
    margin: 5px 10px;
    border-radius: 5px;
    border: 1px solid #b7b0cc;
}

.labelFilter:hover {
    background-color: #b7b0cc;
    cursor: pointer;
}

#cake:checked~.pie, #cake:checked~.roll, #cake:checked~.pastry, #cake:checked~.cheesecakes, #pie:checked~.cake, #pie:checked~.roll, #pie:checked~.pastry, #pie:checked~.cheesecakes, #roll:checked~.pie, #roll:checked~.cake, #roll:checked~.pastry, #roll:checked~.cheesecakes, #pastry:checked~.cake, #pastry:checked~.roll, #pastry:checked~.pie, #pastry:checked~.cheesecakes, #cheesecakes:checked~.cake, #cheesecakes:checked~.roll, #cheesecakes:checked~.pie, #cheesecakes:checked~.pastry {
    display: none;
}

@media (max-width: 1200px) {
    body {
        grid-template-areas: "h h h" "a a a" "m m m" "f f f";
    }
    aside {
        grid-area: a;
        display: flex;
        flex-direction: row;
        justify-self: center;
        justify-content: center;
        width: 100%;
        background-color: transparent;
        margin: 10px;
        border-radius: 0;
        border: 0;
        text-align: center;
        height: max-content;
        padding-bottom: 0;
        flex-wrap: wrap;
    }
    .ccal, #labelCal, #cCal, aside>span {
        display: none;
    }
    .top {
        flex-direction: column;
    }
    .cakeName {
        margin: 0 0 10px 0;
    }
    .top>img {
        width: 100%;
        margin: 0;
        border: 10px solid transparent;
        box-sizing: border-box;
    }
    .labelFilter {
        padding: 5px 0;
        margin: 5px;
        width: 31%;
    }
    main .recipe {
        width: 31%;
    }
    main {
        justify-content: center;
    }
    footer>div {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 730px) {
    body {
        grid-template-areas: "h h" "a a" "m m" "f f";
    }
    .cakeName {
        display: none;
    }
    .top>img {
        border: 0;
        border-radius: 5px;
    }
    .labelFilter {
        width: 46%;
    }
    main .recipe {
        width: 94%;
    }
    footer{
        justify-content: flex-start;
        flex-direction: column;
    }
}